<div class="container-fluid mt-1">
  <h3 class="text-info-emphasis">Books</h3>
  <div class="row">
    <div class="col">
      <input class="form-control" type="text" [(ngModel)]="title" placeholder="Enter book title" />
    </div>
    <div class="col-5">
      <button class="btn btn-primary" (click)="searchBooks()" title="search"><span class="bi-search"></span></button>
    </div>
  </div>
  <div class="mt-1">
    <div class="text-center mt-1">
      <p class="text-warning">{{ message }}</p>
    </div>
    <table class="table table-sm table-striped table-hover">
      <thead>
      <tr>
        <th>Nº</th>
        <th>ID</th>
        <th>Title</th>
        <th>Authors</th>
        <th>ISBN</th>
        <th>Year</th>
        <th>Available</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (book of books; track $index){
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.authors }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.available }}</td>
            <td>
              @if (book.available){
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#lockModal"
                        title="disabled" (click)="selectBook(book)">
                  <span class="bi-lock"></span>
                </button>
              } @else {
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#unlockModal"
                        title="enabled" (click)="selectBook(book)">
                  <span class="bi-unlock"></span>
                </button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<div id="lockModal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger-subtle">
        <h5 class="modal-title fs-5">Disabled book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-danger-emphasis text-center">Do you want disable the book {{ bookSelected.title }} (ID: {{ bookSelected.id }})?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" (click)="updateStateBook(bookSelected.id)">Yes</button>
      </div>
    </div>
  </div>
</div>

<div id="unlockModal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning-subtle">
        <h5 class="modal-title fs-5">Enable book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-danger-emphasis text-center">Do you want to enable the {{ bookSelected.title }} (ID: {{ bookSelected.id }}) book?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-warning" (click)="updateStateBook(bookSelected.id)">Yes</button>
      </div>
    </div>
  </div>
</div>
