<div class="container-fluid">
  <h3 class="text-info-emphasis mt-1">Logs</h3>
  <div class="mt-1">
    <table class="table table-sm table-striped table-hover">
      <thead>
      <tr>
        <th>Nº</th>
        <th>ID</th>
        <th>Id Book</th>
        <th>Id Person</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
        @for (log of logs; track $index){
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ log.id }}</td>
            <td>{{ log.idBook }}</td>
            <td>{{ log.idPerson }}</td>
            <td>{{ log.status }}</td>
            <td>{{ log.date }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-1">
      <button type="button" class="btn btn-outline-primary" disabled="{{ dis }}" (click)="backPage()" title="back"><span class="bi-chevron-double-left"></span></button>
    </div>
    <div class="col"></div>
    <div class="col-1">
      <button type="button" class="btn btn-outline-primary" (click)="nextPage()" title="next"><span class="bi-chevron-double-right"></span></button>
    </div>
  </div>
</div>
