<div class="container-fluid">
  <h3 class="text-info-emphasis mt-1">New Loan</h3>
  <div class="mt-1">
    <form class="g-2" #fl = "ngForm" (ngSubmit)="fl.form.valid && submitLoan(fl)">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Title of the book" name="book" ngModel (keyup)="searchBooksByTitle($event)" />
        </div>
        <div class="col">
          <select name="selectBook" class="form-select" ngModel (change)="selectBook($event)">
            <option *ngFor="let book of books" value="{{ book.id }}">{{ book.title }} (ID: {{ book.id }})</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label" for="idPerson">Identification</label>
          <input id="idPerson" name="idPerson" type="text" class="form-control" ngModel required />
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label" for="firstName">First Name</label>
          <input id="firstName" name="firstName" type="text" class="form-control" ngModel required />
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label" for="lastName">Last Name</label>
          <input id="lastName" name="lastName" type="text" class="form-control" ngModel required />
        </div>
        <div class="col"></div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <button type="reset" class="btn btn-secondary w-50">Cancel</button>
          <button type="submit" class="btn btn-primary w-50" disabled="{{ disabled }}">Save</button>
        </div>
        <div class="col"></div>
      </div>
    </form>
  </div>
</div>
